<!DOCTYPE HTML>
<html lang="es">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/merriweather" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <title>Curriculum Vitae - Gustavo Torres Del Angel</title>

        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1><a href="https://github.com/Arhoc?tab=repositories">Gustavo Torres Del Angel</a></h1>

        <img src="{% static 'images/gustav.jpg' %}" class="gustav">

        <div id="description">
            <p>
                Hola, mi nombre es Gustavo, soy un entusiasta del campo de la seguridad informatica (tanto defensiva como ofensiva) y la programacion en general, tengo 14 años y soy de mexico, se ingles intermedio, siendo un data scientist, backend developer y red team engineer autodidacta, yo actualmente:
            </p>

            <div>
                <h2>Domino estas tecnologias</h2>
                <ul>
                    <li><a href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a></li>
                    <li><a href="https://www.mongodb.com/">MongoDB</a></li>
                    <li><a href="https://www.djangoproject.com/">DJango</a></li>
                    <li><a href="https://www.tensorflow.org/?hl=es-419">TensorFlow</a></li>
                </ul>

                <h2>Y estos lenguajes de programacion</h2>
                <ul>
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://nodejs.org/en/">Node.js</a></li>
                    <li><a href="https://go.dev/">Golang</a></li>
                    <li><a href="https://es.wikipedia.org/wiki/C%2B%2B">C/C++</a></li>
                </ul>
            </div>

            <h3>
                Aunque reconozco que todavia soy un novato, sin embargo, a pesar de esto y de mi corta edad, tengo muchisimas ganas de aprender y crecer tanto en el ambito laboral asi como persona;
                aun asi, he realizado varios proyectos, ademas del hecho de que poseo cierto conocimiento tecnico, lo cual se puede apreciar tanto en mi <a href="https://github.com/Arhoc?tab=repositories" id="link">GitHub</a>, asi como en mi <a href="https://app.hackthebox.com/profile/964882" id="link">perfil de HackTheBox</a>
            </h3>
        </div>
    </body>
</html>