<!DOCTYPE HTML>
<html lang="es">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/merriweather" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <title>Curriculum Vitae - Gustavo Torres Del Angel</title>

        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1><a href="https://github.com/Arhoc?tab=repositories">Gustavo Torres Del Angel</a></h1>

        <img src="{% static 'images/gustav.jpg' %}" class="gustav">

        <div id="description">
            <p>
                Hello, my name is Gustavo, I am an enthusiast in the field of information security (both defensive and offensive) and programming in general, I am 14 years old and I am from Mexico, I know intermediate English, being a data scientist, backend developer and red team Self-taught engineer, I currently:    
            </p>

            <div>
                <h2>I know these technologies</h2>
                <ul>
                    <li><a href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a></li>
                    <li><a href="https://www.mongodb.com/">MongoDB</a></li>
                    <li><a href="https://www.djangoproject.com/">DJango</a></li>
                    <li><a href="https://www.tensorflow.org/?hl=es-419">TensorFlow</a></li>
                </ul>

                <h2>And this programming langs</h2>
                <ul>
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://nodejs.org/en/">Node.js</a></li>
                    <li><a href="https://go.dev/">Golang</a></li>
                    <li><a href="https://es.wikipedia.org/wiki/C%2B%2B">C/C++</a></li>
                </ul>
            </div>

            <h3>
                Although I admit that I am still a novice, however, despite this and my young age, I really want to learn and grow both in the workplace and as a person;
                Even so, I have carried out several projects, in addition to the fact that I have some technical knowledge, which can be appreciated both in my <a href="https://github.com/Arhoc?tab=repositories" id="link">GitHub</a>, asi como en mi <a href="https://app.hackthebox.com/profile/964882" id="link">HackTheBox profile</a>
            </h3>
        </div>
    </body>
</html>